@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Partners_In_Crime</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <style>
        /*Css*/
        .topnav {
            overflow: hidden;
            background-color: #333;
            position: relative;
            right: 0;
            max-width: auto;
        }

            .topnav #myLinks {
                display: none;
            }

            .topnav a {
                color: white;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                display: block;
            }

                .topnav a.icon {
                    background: black;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

        .active {
            background-color: #04AA6D;
            color: white;
        }
    </style>

</head>
<body>
    <header>
        <nav>
            <div class="topnav">
                <a asp-controller="Match" asp-action="Index" class="active">Partner's In Crime</a>
                <div class="btn-group">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a href="/Identity/Account/Logout" class="btn btn-outline-primary">Logout</a>
                        <a href="/identity/account/manage/index">Profile</a>
                    }
                    else
                    {
                        <a href="/Identity/Account/Login" class="btn btn-outline-primary">Login</a>
                        <a href="/Identity/Account/Register" class="btn btn-outline-secondary">Register</a>
                    }
                </div>
                <div id="myLinks">
                    <a asp-controller="Match" asp-action="Index">Match</a>
                    <a href="#chat">Chat</a>
                    <a href="#about">About</a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="menuFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script>
        /*JS*/
        function menuFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
