@model GeneralMatchViewModel

<h3>GENERAL MATCHES</h3>
<ul>
    @foreach (var user in Model.MatchedUsers)
    {
        <li>
            <h5>@user.FirstName @user.LastName</h5>
            @user.MatchingParameters matchande parametrar
        </li>
        <br />
    }
</ul>
