@model InterestMatchViewModel

<h3>INTEREST MATCHES</h3>
<ul>
    @foreach (var user in Model.MatchedUsers)
    {
        <li>
            <h5>@user.FirstName @user.LastName</h5>
            @user.MatchingInterests matchande intressen
        </li>
        
    }
</ul>
