@model GeneralMatchViewModel

<h3>GENERAL MATCHES</h3>
<ul>
    @foreach (var user in Model.MatchedUsers)
    {
        <h1>@user.FirstName @user.LastName hade @user.AmountOfMatchingParameters matchande parametrar</h1>
    }
</ul>
