@model HobbyMatchViewModel

<h3>HOBBY MATCHES</h3>
<ul>
    @foreach (var user in Model.MatchedUsers)
    {
        <li>
            <h5>@user.FirstName @user.LastName</h5>
            @user.MatchingHobbies matchande hobbies
        </li>
        <br />
    }
</ul>