@model HobbyMatchViewModel

<h3>HOBBY MATCHES</h3>
<ul>
    @foreach (var group in Model.MatchedUsers)
    {
        <h1>@group.Key</h1>
        foreach (var user in group)
        {
            <li>@user.FirstName  @user.LastName</li>
        }
    }
</ul>