@model HobbyMatchViewModel

@*<h3>HOBBY MATCHES</h3>
<ul>
    @foreach (var user in Model.MatchedUsers)
    {
        <h1>@user</h1>
        foreach (var user in group)
        {
            <li>@user.FirstName  @user.LastName</li>
        }
    }
</ul>*@