@model MatchViewModel
<style>
    .matchMainComtainer {
        background: #888;
        color: white;
    }
</style>

<div class="matchMainComtainer">
    <h1>@Model.AppUser.FirstName @Model.AppUser.LastName 's Matches</h1>

    @await Html.PartialAsync("_TopMatchesGeneral", Model.GeneralMatch)
    @await Html.PartialAsync("_TopMatchesHobby", Model.HobbyMatch)
    @await Html.PartialAsync("_TopMatchesInterest", Model.InterestMatch)

    <p>MEGA ÄNDRING</p>
</div>