@model MatchViewModel
@{

}
<h1>MATCH OSV</h1>
<ul>
    @foreach (var group in Model.MatchedUsers)
    {
        <h1>@group.Key</h1>
        foreach (var user in group)
        {
            <li>
                @user.FirstName
            </li>
        }
    }
    </ul>
<h1>lol nopp</h1>
<ul>
    @foreach (var group in Model.NotMatchedUsers)
    {
        <h1>@group.Key</h1>
        foreach (var user in group)
        {
            <li>
                @user.FirstName
            </li>
        }
    }
</ul>
